<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="mt-5">
                        <h4 class="card-title float-left mt-2">Blog</h4>
                        <a asp-route="AddBlog" class="btn btn-primary float-right veiwbutton">Add Blog</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img" src="assets/img/product/product-01.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Tiêu đề</h4>
                        <p class="card-text mt-3"> Nội dung </p>
                        <a asp-route="DetailBlog" class="btn btn-primary float-right veiwbutton">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>